body{
    margin:0;
    padding:0;
    width:100%;
    height:100;
    background:no-repeat url('../img/inbox2.png') ;
    font-family:'Roboto', Helvetica, Arial, sans-serif;
}
.from-line{
    font-size:13px;
    position: absolute;
    width:150px;
    font-weight:bold;
    white-space:nowrap;
    overflow:hidden;
    font-size:13px;
    left:350px;
}
#fromLine1, #subjectline1{
    top:123px;           
}
#fromLine2, #subjectline2{
    top:159px;
}
#fromLine3, #subjectline3{
    top:195px;
}
.subject-line{
    font-size:13px;
    position: absolute;
    left:525px;
    width:690px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.subject-line a{
    color:#000;
    text-decoration:none;
}
.from-line.read{
    font-weight:normal;
}
.subject-line.read strong{
    font-weight:normal;
}